


<IfModule mod_rewrite.c>
Options +FollowSymLinks
RewriteEngine on
RewriteBase /mistarjetas
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond $1 !^(mistarjetas/index.php|css|js|images|robots.txt)
RewriteRule ^(.*)$ index.php?/$1 [L]
</IfModule>

<IfModule !mod_rewrite.c>
ErrorDocument 404 /mistarjetas/error_page.php
</IfModule>
